<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <head>
        <title>Pirates Wiki</title>
    </head>
    <body>
    <div class="container">
        {{{ body }}}
    </div>
    </body>
</html>
