<form class="" action="/users/{{id}}?_method=PATCH" method="post">
  <input type="text" name="first_name" value="{{first_name}}">
  <input type="text" name="last_name" value="{{last_name}}">
  <input type="text" name="email" value="{{email}}">
  <input type="submit" name="" value="Submit">
</form>
