<h1>categories#index</h1>

<ul>
	<% @categories.each do |category| %>
		<li>
			<%= link_to category.name, todos_index_path(category) %>
			<%= link_to "Edit #{category.name}", edit_category_path(category) %>
      <br/>
		</li>
	<% end %>
  <br/>
  <%= link_to "New Category", new_category_path, { class: "btn" } %>
</ul>
