body {
  background: url("../images/beach.jpg");
  background-position: 80% 42%;
  font-family: 'Cormorant', serif;
  text-align: center;
  font-size: 18px;
}


/* nav links */
nav li {
  display: inline;
}
a {
  text-decoration: none;
}
nav form {
  display: inline;
}

h1,h2,h3{
  text-align: center;
}

a, a:visited {
    color: white;
}

#main-heading{
  font-size: 3em;
  background: rgba(4, 27, 45, 0.37);
  color: white;
}

ul{
  text-align: center;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 24px;
}

/* FORM STYLING */

form{
  margin: 0 auto
}

input[type=text]{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  width: 350px;
  font-size: 24px;
  margin-bottom: 0.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: black;
}

input[type=submit]{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input[type=submit]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
input[type=submit]:active {
	position:relative;
	top:1px;
}

}
