<h1>CREDIT PAGE</h1>

add  $<input type="number" placeholder="100" ng-model="main.deposit"><br>
<label>NOTE:</label>
<input type="text" placeholder="Pay day" ng-model="main.creditNote"><br>
<button ng-click="main.addCredit()">Add to Credit</button>

<h3>Total Credit</h4>

<h3>${{main.credit.toString()}}</h3>


<button ng-click="showme= !showme">View History</button>

<table ng-show="showme">
  <tbody>
    <tr ng-repeat="ticket in main.creditHistory">
      <td>${{ticket.total}}</td>
      <td>{{ticket.note}}</td>
      <td>{{ticket.created_at}}</td>
    </tr>
  </tbody>
</table>
