div {
  margin: 0 auto;
}

.container {
  width: 750px;
  overflow: auto;
}

button {
  margin: 0 auto;
  width: 33.3333%;
  height: 2em;
  float: left;
}

.image-container {
  text-align: center;
  margin-bottom: 1em;
}

.all-gifs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;
}
