<form method="POST" action="/todos">
  <div>
    <label for="description">Description: </label>
    <input name="description">
  </div>
  <div>
    <label for="urgent">Urgent: </label>
    <span>YES</span><input type="radio" name="urgent" value="true" checked>
    <span>NO</span><input type="radio" name="urgent" value="false">
  </div>
  <input type="submit" value="Add ToDo">
</form>
