<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h6>NAV BAR GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>

        {{{ body }}}

        <h6>FOOTER GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>
    </body>
</html>
