<h1>Make a New Pirate Bruh</h1>
<form action='/pirates' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="birthplace" placeholder="Birthplace"><br>
  <input type="number" name="death_year" placeholder="Year of Death"><br>
  <input type="text" name="base" placeholder="Base"><br>
  <input type="text" name="nickname" placeholder="Nickname"><br>
  <input type="submit" value="Create New Pirate">
</form>
