@import url(http://fonts.googleapis.com/css?family=Raleway:900,200,600|League+Script);

body {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  text-rendering: optimizeLegibility;
}
p {
  line-height: 1.5;
}
h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.618rem;
  margin: 3rem auto 0;
  letter-spacing: 12px;
}
h1:after {
  content: "™";
  font-size: 1rem;
  vertical-align: super;
  position: relative;
  top: -0.618rem;
}
.tagline {
  font-weight: 200;
  margin: 0.618rem auto 0;
  font-size: 1.8rem;
  font-family: 'League Script', cursive;
}

#ratings {
  margin-top: 3.618rem;
}


#ratings ul {
  list-style: none;
  counter-reset: ratings;
}

#ratings ul li {
  display: inline-block;
  margin: 0 1rem;
  font-size: 2rem;
  counter-increment: ratings;
}

#ratings ul li span {
  display: block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#ratings ul li:after {
  content: counter(ratings);
  font-size: 1rem;
  border: 1px solid black;
  display: block;
  text-align: center;
  margin-top: 1.618rem;
  padding: 0.292rem 0.192rem 0rem 0.192rem;
  height: 1.618rem; width: 1.618rem;
  border-radius: 100px;
}

#ratings .add-rating {
  border: 1px solid black;
  max-width: 300px;
  margin: 3.618rem auto 2rem;
  padding: 2rem;
  border-radius: 4px;
}

#ratings .add-rating div {
  display: inline-block;
  margin-right: 1rem;
}
#ratings .add-rating input[type=submit] {
  display: block;
  margin: 2rem auto 0 auto;
  border: 1px solid black;
  background: black;
  color: white;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.392rem 1rem;
}
#ratings .add-rating input[type=radio] + label {
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#ratings .add-rating input[type=radio] {
  display: none;
}
#ratings .add-rating input[type=radio]:checked + label{
  color:red;
}
