<form method="POST" action="/users/{{user._id}}?_method=PUT">
    First Name: <input type="text" name="first_name" value="{{user.first_name}}"><br>
    Last Name: <input type="text" name="last_name" value="{{user.last_name}}"><br>
    Email: <input type="text" name="email" value="{{user.email}}"><br><br>
    <input type="submit">
</form>