<h1>im the signup</h1>

<form action="/users/signup" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button"> Sign up</button>
</form>
