<main>
	<h2>Handmade, Fresh, Daily!</h2>

		<<<< START THE LOOP TO DISPLAY EACH DONUT >>>>

			<div class="donut-container">

				<<<< DONUT IMAGE HERE >>>>

				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>   </h3>

				<p>$ <<<< DONUT PRICE HERE >>>> each </p>

			</div>

		<<<< END THE LOOP >>>>


</main>
</body>
</html>
