<main>

		<h2>You are viewing:

			<<<< DONUT NAME HERE >>>>

		</h2>

		<a href="/">Return to Home Page</a>

		<div class="donut-container-show">
			<h2 id="donut-name">

					<<<< DONUT NAME HERE >>>>

			</h2>

					<<<< DONUT IMAGE HERE >>>>

			<br>
			<h3>Description:</h3>
				<p>

					<<<< DONUT DESCRIPTION HERE >>>>

				</p><br>
			<h3>Price:</h3>
				<p id="cost">$

					<<<< DONUT PRICE HERE >>>> each</p><br>

				<h3 id="quantity">

		 				<<<< DONUT QUANTITY >>>> remaining

				</h3>

				<br>

				<<<< LINK TO THE DONUT's EDIT PAGE >>>>

				<<<< BONUS: BUTTON THAT UPDATES THE COUNT >>>>

			</div>

			<<<< BUTTON THAT DELETED THE DONUT >>>>
	</main>
</body>
</html>
