body{
  font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
    padding: 6px 30px;
    border-radius: 10px 10px 0px 0px
}

#selected {
    padding-bottom: 1px;
    background: white;
}

#quotes,
nav li:nth-child(2) {
  background: #cbcbd0
}

#netflix,
nav li:nth-child(3){
  background: #e08989
}

section {
  height: 100vh;
  padding: 2em;
  margin-top: 5px
}

button {
  background-color: white;
  color: black;
  padding: 9px 21px;
  text-align: center;
  text-decoration: none;
  border-color: grey;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
    background-color: lightgrey; /* Green */
    color: white;
}

input[type=text]{
  width: 300px;
  height: 30px;
  margin: 1em;
}
