<h1>Edit {{user.first_name}}</h1>
<form action="/users/{{user.id}}?_method=PUT" method="POST">
  <div>
    <label for="first_name">
      First Name
    </label>
    <input type="text" name="first_name" value="{{user.first_name}}"/>
  </div>
  <div>
    <label for="email">
      Email
    </label>
    <input type="text" name="email" value="{{user.email}}"/>
  </div>
  <div>
    <input type="submit" value="Update User"/>
  </div>
</form>
