<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>USERS, ITEMS, AND OTHER THINGS</h1>
    <br/>
    <a href="/users">HOME</a>
    {{{ body }}}
  </body>
</html>
